* {
    box-sizing: border-box;
    /*font-size: 62.5%;*/
    margin: 0;
    padding: 0;
}

:root {
    --primary-brand: rgba(76, 175, 79, 100);

    --secondary-shade: rgba(16, 62, 19, 100);
    --secondary-t4: rgba(200, 230, 201, 100);
    --secondary-brand: rgba(38, 50, 56, 100);
    --secondary-b1: rgba(24, 25, 31, 100);

    --neutral-silver: rgba(245, 247, 250, 100);
    --neutral-grey: rgba(113, 113, 113, 100);
    --neutral-d-gray: rgba(77, 77, 77, 100);
    --neutral-white: rgba(255, 255, 255, 100);

    --font-family-default: 'Inter', serif;

    --font-size-default: 16rem;
    --font-size-1: 6.4rem;
    --font-size-2: 3.6rem;
    --font-size-3: 2.8rem;
    --font-size-4: 2rem;
    --font-size-5: 1.8rem;
    --font-size-6: 1.6rem;
    --font-size-7: 1.4rem;
    --font-size-8: 1.2rem;
}

body {
    font-family: var(--font-family-default);
    font-size: 16px;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
}

.flex-direction-column {
    flex-direction: column;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}


.primary-brand {
    color: var(--primary-brand);
}

.secondary-shade {
    color: var(--secondary-shade);
}

.secondary-t4 {
    color: var(--secondary-t4);
}

.secondary-brand {
    color: var(--secondary-brand);
}

.secondary-b1 {
    color: var(--secondary-b1);
}

.neutral-silver {
    color: var(--neutral-silver);
}

.neutral-grey {
    color: var(--neutral-grey);
}

.neutral-d-gray {
    color: var(--neutral-d-gray);
}

.neutral-white {
    color: var(--neutral-white);
}

.margin-top-16 {
    margin-top: 16px;
}

.margin-bottom-32 {
    margin-bottom: 32px;
}

.gap-10 {
    gap: 20px;
}

header {
    height: 84px;
}

nav>ul>li>a {
    color: var(--secondary-b1);
}

nav>ul>li>a:hover {
    color: var(--primary-brand);
}

.login>a {
    color: var(--primary-brand);
    padding: 10px 20px;
}

.login-sign {
    background-color: var(--primary-brand);
    border-radius: 6px;
    color: var(--neutral-white)!important;
}

.login-gap {
    gap: 50px;
}

.section-hero {
    background-color: var(--neutral-silver);
    gap: 104px;    
    padding: 96px 144px;
}

.section-hero h1 {
    font-size: 64px;
    max-width: 15ch;
}

.section-hero-btn {
    align-self: start;
    background-color: var(--primary-brand);
    border-radius: 4px;
    color: var(--neutral-white);
    margin-top: 12px;
    padding: 14px 32px;
}
